.swiper-pagination-bullet {
    transition: width .2s;
    transform-origin: center;
    background: #E4E7EC;
    opacity: 1;
    width: 12px;
    height: 12px;
}
  
.swiper-pagination-bullet-active {
    transform: scale(1.1);
    border-radius: 6px;
    background:  #FD853A;
}